* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pic {
  
    }

     section p {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      width: 50%;
      font-size: 28px;
      color: rgb(0, 0, 0);
      position: absolute;
      top: 8px;
      justify-content: center;
      right: 16px;
      top: auto;
      font-size: 4rem;
    }

    .hero-cta {
        width: 100%;
        text-align: right;
        margin: 6.5%;
        color: rgb(255, 255, 255);
        font-size: 18px;
        line-height: 1.2;
        }

        img {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
        }

        .background {
          background-image: url(./images/back.jpg);
          color: rgb(44, 127, 199);
          width: 100%;
          height: 20vh;
          background-repeat: no-repeat;
          background-size: cover;
          font-size: 2rem;
          justify-content: center;
        }

        
.container1 {
  display: flex;
  width: 100%;
  height: auto;
  color: blanchedalmond;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  background-image: url(./images/navoy.jpg);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-position: 50%;
  height: 35vh;
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  float: left;
}