* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
   
img {
  height: 300px;
  vertical-align: middle;
} 

.backelm {
  background-image:url(./images/back.jpg) ;
  height: 33vh;
}

.pelm{
  font-size: 50px;
  padding: 0, 0, 0, 60px;
  color: rgb(163, 208, 248);
}

h1 {
  background-color: black;
  color: aliceblue;
  height: 60px;
}

.card-body {
  width: 100%;
}
 
.inline {
  display: inline-flex;
}