* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pic {
    background-image: url(./images/back.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 50%;
    height: 45vh;
    width: 50%;
    background-repeat: no-repeat;
    }

    section h1, p {
            font-size: 28px;
            color: rgb(0, 0, 0);
    }

    .hero-cta {
        width: 100%;
        text-align: right;
        margin: 6.5%;
        color: rgb(255, 255, 255);
        font-size: 18px;
        line-height: 1.2;
        }

        img {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
        }
